<div id="<%= dom_id game %>">
  <p>
  <b><%= game.myscience.title %></b>
  </p>

  <p>
    <%= game.title %>
  </p>

  <p>

    <strong>Description:</strong>
    <%= game.content %>
  </p>

  <p>

  <strong> le jeu</strong>
    <%= game.description %>
  </p>

</div>
