<%= form_with(model: momentday) do |form| %>
  <% if momentday.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(momentday.errors.count, "error") %> prohibited this momentday from being saved:</h2>

      <ul>
        <% momentday.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>
<p>chercher des trucs qu'on fait  <%=momentday.name%></p>

<div><%=form.collection_check_boxes :pic_ids, momentday.pics, :id, :title%></div>
<%=text_field_tag :azertyuiop, "", onkeyup: "myfunc(event);return false;",placeholder: "chercher ici"%>
<div id="myimages"></div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<%=content_for :js do%>
<script>
  function myfunc(ev){
    $.ajax({url: "/images.json?ok="+azertyuiop.value,
    success:function(data){
      var str="";
      for(var i = 0;i<data.length;i++) {
        str+="<input type=\"checkbox\" name=\"momentday[pic_ids][]\" value=\""+String(data[i].id)+"\" /><label>"+String(data[i].title)+"</label>";
      }
      myimages.innerHTML=str;
    }
    });
    return false;
  }
  </script>
  <% end %>
